<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>NOVINKA NA FOTBALHRISTE.CZ</title>
    </head>
    <body>
        <div style="width: 100%;">
            <p><h2>Nejžhavější novinka z webu FOTBALHRISTE.CZ</h2></p>


            <p><h4>Nenechte si ujít článek <a n:href="Front:Article:default $article_id">{$article_name}</a></h4></p>
        </div>
</body>
</html>