<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Dotaz od {$name} {$surname}</title>
    </head>
    <body>
        <p>Obdrželi jsme dotaz od {$name} {$surname}, který se ptá:</p>
        <p>{$content}</p>
    </body>
</html>