#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
        errorPresenter: Error
        mapping:
                *: App\*Module\Presenters\*Presenter


session:
        expiration: 14 days


services:
        article:
          class: App\Model\Article
        pitch:
          class: App\Model\Pitch
        search:
          class: App\Model\Search
        userData:
          class: App\Model\UserData
        question:
          class: App\Model\Question
        newsletter:
          class: App\Model\Newsletter


        articleModel:
          class: App\Model\ArticleModel
        uploadModel:
          class: App\Model\UploadModel


        - App\Model\UserManager
        - App\Forms\FormFactory
        - App\Forms\SignInFormFactory
        - App\Forms\SignUpFormFactory
        router: App\RouterFactory::createRouter


extensions:
        fileUpload: Zet\FileUpload\FileUploadExtension
        uploadManager: ondrs\UploadManager\DI\Extension
        visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

fileUpload:
	maxFiles: 10
	maxFileSize: 2M
	fileFilter: Zet\FileUpload\Filter\ImageFilter
	uploadModel: App\Model\UploadModel
	uiMode: full # full nebo minimal

uploadManager:
    basePath: %wwwDir%
    relativePath: '/uploads'
    fileManager:
        blackList: {php}
    imageManager:
            maxSize: 1280
            quality: 80
            saveOriginal: FALSE
            dimensions:
                800:
                    - {800, NULL}
                    - shrink_only
                thumb:
                    - {100, NULL}
                    - shrink_only

mail:
    smtp: true
    host: smtp.fotbalhriste.cz
    port: 25
    username: spam@fotbalhriste.cz 
    password: Petr@kostka
    secure: 
