<div class="text-center">
    <h2>Přidejte znak klubu</h2>
</div>
{form uploadCharacter}
    {input imageCharacter}
{/form}
<div>
    <h3>Nahraný znak</h3>

</div>
<div class="clearfix"></div>
<div class="col-md-2">
    <a n:href="toggleChangePage! $page" class="btn btn-default ajax">Zpět</a>
</div>
<div class="col-md-2 float-right">  
    <a n:href="toggleChangePage! 'next'" class="btn btn-default ajax">Další</a>
</div>

