<div class="text-center">
    <h2>Děkujeme za přidání nového hřiště</h2>
    <p>O jeho zařazení na web Vás bedeme informovat, pomocí emailu, během několika hodin.<p>
    <p><strong>Pěkný den tým FOTBALHRISTE.CZ</strong></p>
</div>
<div class="clearfix"></div>

<div class="col-md-2">
    <a n:href="toggleChangePage!" class="btn btn-default ajax">Zpět</a>
</div>
<div class="col-md-2 float-right">  
    <a n:href="completeAddPitch!" class="btn btn-default">Dokončit</a>
</div>
