{block content}
<div class="container content-background sign-confirm">
    <center>
        <h2>Vaše emailová adresa byla potvrzena</h2>
        <a n:href="in" class="btn btn-primary">Pokračujte zde</a>
    </center>
</div>
